/* You can add global styles to this file, and also import other style files */
@import url('app/styles/colors.scss');
@import url('app/styles/sizes.scss');
@import url('app/styles/popper.scss');

body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
  font-family: 'Abyssinica SIL', serif;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.spacer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.number-font {
  font-size: 1.1rem;
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

.title {
  font-family: 'Bree Serif', serif;
  font-size: 2rem;
  font-weight: 500;
}

.subtitle {
  opacity: 1;
  font-size: 1.4rem;
  color: var(--dark-grey-2);
}

.text-red {
  color: var(--red);
}

.text-green {
  color: var(--green);
}

.text-blue {
  color: var(--blue);
}

.hide-big {
  display: none !important;
}

.hide-small {
  display: block !important;
}

@media (max-width: 1280px) {
  .hide-small {
    display: none !important;
  }

  .hide-big {
    display: block !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-grey-2);
  border-radius: 60px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-grey);
}
