.author-img-placeholder {
  grid-area: poem-image;
}

.title-author {
  grid-area: poem-title;
}

.control {
  grid-area: control;
}

.published {
  grid-area: publish;
}

.meta {
  grid-area: meta;
}

.poem-player {
  display: grid;
  grid-template-areas: "poem-image poem-title control publish meta";
  grid-template-columns: auto auto 1fr auto auto !important;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  height: var(--poem-player-height);
  width: 100%;
  background: var(--black);
}

.title-author {
  margin-bottom: 0.5rem;
}

.poem-player .left-section {
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.poem-player .center-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.poem-player .right-section {
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.author-img-placeholder {
  width: 160px;
  margin-left: 2rem;
}

.author-img {
  position: absolute;
  bottom: 0;
  border: 10px solid var(--black);
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.poem-title {
  font-size: 1.2rem;
}

.poem-author {
  font-size: 1rem;
  color: var(--light-grey-3);
}

.published {
  font-style: italic;
  margin-right: 1rem;
  opacity: 1;
}

.meta {
  padding-right: 2rem;
  margin-left: 2rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.control {
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.control > i,
.control > span {
  margin-right: 1rem;
}

.control .invert {
  color: var(--black);
}

.heart-hover:hover > .fa-regular.fa-heart {
  font-size: 10rem;
  display: none;
}

.heart-hover > .fa-solid.fa-heart.on-hover {
  display: none;
}

.heart-hover:hover > .fa-solid.fa-heart.on-hover {
  transition: ease-in;
  display: inherit;
}

.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}

.subtitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}

@media (max-width: 1280px) {
  .title {
    max-width: 45vw;
  }

  .subtitle {
    max-width: 45vw;
  }

  .author-img-placeholder {
    margin-right: 1rem;
    width: auto;
  }

  .published {
    display: none;
  }

  .meta {
    display: none;
  }

  .poem-player {
    height: var(--poem-player-height-mobile);
    grid-template-columns: auto auto 1fr !important;
    justify-content: space-between;
    grid-template-areas: "poem-image poem-title control" !important;
  }

  .author-img {
    position: relative;
    height: calc(var(--poem-player-height-mobile) - 20px);
    width: calc(var(--poem-player-height-mobile) - 20px);
  }

  .control {
    justify-content: flex-end;
    margin-right: 1rem;
  }
}

@media (max-width: 584px) {
  .title {
    max-width: 65vw;
  }

  .subtitle {
    max-width: 65vw;
  }

  .author-img-placeholder {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .title-author {
    margin-bottom: 0px;
  }

  .poem-player {
    height: calc(var(--poem-player-height-mobile) + 20px);
    grid-template-columns: auto 1fr !important;
    justify-content: space-between;
    grid-template-areas:
      "poem-image poem-title"
      "poem-image control" !important;
  }

  .control {
    justify-content: flex-start;
  }
}
