<div class="sidebar-content">
  <img class="logo" src="assets/logo.svg" />
  <div class="nav">
    <ul class="nav-list">
      <li><a class="active" href="#Classics"><i class="fa-solid fa-feather-pointed"></i>&nbsp;Classics</a></li>
      <li><a href="#Contemporary"><i class="fa-solid fa-pen-nib"></i>&nbsp;Contemporary</a></li>
      <li><a href="#Community"><i class="fa-solid fa-users"></i>&nbsp;Community</a></li>
      <li><a href="#Favourites"><i class="fa-solid fa-heart"></i>&nbsp;Favourites</a></li>
    </ul>
  </div>

</div>
