.sidebar-content {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100%;
  background: var(--light-grey);
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.full-width {
  width: 100%;
  z-index: 2;
}

.logo {
  margin-top: 30px;
  margin-right: 20px;
  align-self: center;
  max-width: calc(var(--sidebar-width) - 80px);
}

.sidenav {
  margin-top: 50px;
}

.sidenav .nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidenav ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidenav ul a {
  display: block;
  color: var(--black);
  text-align: left;
  font-size: 1.2rem;
  padding: 0.8rem;
  padding-left: 3rem !important;
  text-decoration: none;
  font-weight: 500;
}

.sidenav ul a.active {
  border-right: 8px solid var(--black);
  background-color: var(--light-grey-2);
}

.sidenav ul a:hover {
  background-color: var(--light-grey-2);
}

.close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  cursor: pointer;
  padding: 20px;
}

.navbar {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  background: var(--white);
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem;
  }
}

.navbar .nav-left {
}

.navbar .nav-right {
  padding-right: 0.4rem;
  display: flex;
  align-self: center;
  justify-self: center;
}

.navbar .brand div {
  align-self: center;
  justify-self: center;
}

.navbar-logo {
  height: 5rem;
}

.navbar-drawer-icon {
  font-size: 1.8rem;
}
