<div class="poem-widget">
  <div class="author">
    <img class="author-img" src="https://upload.wikimedia.org/wikipedia/commons/0/08/John_McCrae_in_uniform_circa_1914.jpg"/>
  </div>
  <div class="poem-info">
    <div class="title-author">
      <div class="title" [popper]="'In Flanders Fields'">
        In Flanders Fields
      </div>
      <div class="subtitle" [popper]="'John McCrae'">
        John McCrae
      </div>
    </div>
    <div class="meta number-font subtitle">
      <div class="views">4510 Views</div>
      <div>3 Min Read</div>
    </div>
  </div>
</div>
