<div class="poem-widget">
  <div class="author">
    <img class="author-img" src="https://upload.wikimedia.org/wikipedia/commons/0/08/John_McCrae_in_uniform_circa_1914.jpg"/>
  </div>
  <div class="poem-info">
    <div class="title-author">
      <div class="title">
        In Flanders Fields
      </div>
      <div class="subtitle">
        John McCrae
      </div>
    </div>
    <div class="meta number-font">
      <div><i class="fa-regular fa-eye"></i>&nbsp;4510 Views</div>&nbsp;&nbsp;
      <div><i class="fa-regular fa-clock"></i>&nbsp;3 Min Read</div>
    </div>
  </div>
</div>
