.navbar {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  justify-content: space-between;
  backdrop-filter: saturate(50%) blur(8px);
  background: var(--white);
}

.navbar .brand {
  color: var(--black);
  font-family: "Tangerine", cursive;
  display: flex;
  align-self: center;
  justify-self: center;
  font-size: 4rem;
  font-weight: 900;
  padding: 1.6rem;
  padding-bottom: 1rem;
}

.navbar .nav-left {
  padding-left: 5rem;
}

.navbar .nav-right {
  padding-right: 3rem;
  display: flex;
  align-self: center;
  justify-self: center;
}

.navbar .brand div {
  align-self: center;
  justify-self: center;
}

.navbar .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul a {
  display: block;
  color: var(--black);
  text-align: center;
  font-size: 1.2rem;
  padding: 4px 14px;
  text-decoration: none;
  font-weight: 500;
}

.navbar ul a.active {
  border-bottom: 4px solid var(--black);
}

@media (max-width: 640px) {
  // navbar responsive changes
}
