:root {
  --white: #ffffff;
  --black: #191919;
  --light-grey: #F3F3F3;
  --light-grey-2: #DADADA;
  --light-grey-3: #AAAAAA;
  --dark-grey: #444444;
  --dark-grey-2: #666666;
  --black-transparent: rgba(19, 19, 19, 0.95);
  --black-translucent: rgba(19, 19, 19, 0.5);
  --red: #FF006E;
  --orange: #FB5607;
  --yellow: #FFBE0B;
  --purple: #8338EC;
  --blue: #3A86FF;
  --green: #28E0AE;
}

/* https://coolors.co/palette/ffbe0b-fb5607-ff006e-8338ec-3a86ff */
