.up-next-content-wrapper {
  width: 100%;
  height: 100%;
  background: var(--light-grey);
  color: var(--black);
}

.up-next-content {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.up-next-text {
  font-size: 1.2rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
}


@media (max-width: 1280px) {
  .up-next-content-wrapper {
    max-height: 25rem;
    width: 100vw;
    max-width: 100%;
  }

  .up-next-text {
    padding-left: 4rem;
    margin-bottom: 0.5rem;
  }

  .up-next-content {
    margin-left: 2rem;
    margin-bottom: calc(var(--poem-player-height) + 20px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: hidden;
    max-width: 100%;
  }

  .up-next-content .item:first-child {
    margin-left: auto;
  }

  .up-next-content .item:last-child {
    margin-right: auto;
  }
}

@media (max-width: 584px) {
  .up-next-content {
    margin-bottom: calc(var(--poem-player-height) + 40px);
  }
}
